
<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered" style="padding: 5rem;"> 
        <img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/wysiwyg/500error_0.jpg?itok=A6kxZZJj" alt="500">
        <h1> Some Error Occured! </h1>
        <p> Sorry for the inconvenience, we are trying to fix it as soon as possible. </p>
        <p> Until then please try something else. </p>
    </div>
<%- include('includes/end.ejs') %>